.termWrapper {
    width: 480px;
    background-color: #252526;
    padding: 8px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.2);
     ::-webkit-scrollbar {
        width: 8px;
    }
     ::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0.2);
    }
     ::-webkit-scrollbar-thumb {
        background: rgba(100, 100, 100, .4)
    }
    .terminal-header {
        height: 24px;
        color: #ccc;
        position: relative;
        .close-terminal {
            position: absolute;
            left: 0px;
            top: 0px;
            font-size: 16px;
            cursor: pointer;
            color: #ccc; // background: white;
            // border-radius: 50px;
        }
    }
    .terminal {
        font-size: 14px;
        font-family: 'Fira Mono', monospace;
        .xterm-viewport {
            background: #252526;
        }
    }
}